section {
    background-image: url("@/assets/grunge-black-concrete-textured-background.jpg");
    height: 100vh;

}
body {
    margin: 0px;
}
h1,h2,h3,h4,h5 {
    color: white;
    font-family: 'Playfair Display', serif;
}

/* Home view */




